.footer--outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer--menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.footer--menu-item {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;

    margin: .5rem 1rem;
}

.footer--copyright {
    font-size: .75rem;
}