#header {
    position: fixed;
    top: 0;

    width: 100%;

    box-shadow: 0 5px 10px rgba($color-text-regular, .125);

    transition: all .25s;

    z-index: 999;
}

.header--outer {
    background-color: white;

    // border-bottom: $ui-border-width solid $ui-border-color;
}



.header--main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .25s;

    >* {
        width: 100%;
    }
}

.header--left {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint(md) {
        position: relative;

        display: flex;
    }
}

.header--right {
    display: none;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(md) {
        display: flex;
    }
}

.header--logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 30rem;

    transform: scale(.75);

    margin: 1rem 0;

    transition: all .25s, max-height .5s;

    @include breakpoint(md) {
        flex-shrink: 0;

        transform: scale(1);

        margin: 2rem 0;
    }

    * {
        margin: 0;
        line-height: 1;
        white-space: nowrap;
    }

    img {
        height: auto;
        width: 100%;
    }

    // h1 {
    //     // height: 2.5rem;
    // }

    h6 {
        margin-top: 1rem;

        font-size: .85rem;

        transition: all .25s;
    }
}

// .header--left {}

.header--sub {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;

    font-size: .75rem;
    color: white;

    background-color: $color-text-regular;

    z-index: 99;
}

.header--sub-close {
    position: absolute;
    top: 0;
    right: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;

    text-align: center;

    cursor: pointer;
}

.header--menu {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
        display: flex;
    }
}

.header--menu-toggle {
    display: flex;
    width: 1rem;
    height: 2rem;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint(md) {
        display: none;
    }
}

.header--menu-close {
    display: none;
    position: fixed;
    top: 1rem;
    left: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
        display: none;
    }
}

.header--menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;

    width: 100%;
    height: 100%;

    background-color: white;

    transition: all .5s;

    @include breakpoint(md) {
        position: unset;
        top: unset;
        left: unset;

        width: unset;
        height: unset;

        visibility: visible;
        opacity: 1;
    }

    &.is-active {
        visibility: visible;
        opacity: 1;

        transition: all .5s;

        .header--menu-close {
            display: flex;

            @include breakpoint(md) {
                display: none;
            }
        }
    }

    >ul {
        list-style: none;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0;
        padding: 0;
        margin-top: -10rem;

        @include breakpoint(md) {
            flex-direction: row;
            margin-top: 0;
        }

        .header--menu-item {
            position: relative;

            opacity: .5;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 3rem;

            text-transform: uppercase;
            font-size: .85rem;
            font-weight: bold;

            padding: 0 1.5rem;

            cursor: pointer;

            &+.header--menu-item {
                @include breakpoint(md) {
                    margin-left: 1rem;
                }
            }

            @include breakpoint(md) {
                opacity: 1;
            }

            &:after {
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                display: block;

                height: 0.2rem;
                width: 100%;

                background-color: transparent;

                transition: all .5s;
            }

            &:hover {
                opacity: 1;

                &:after {
                    @include breakpoint(md) {
                        background-color: $ui-border-color;
                    }
                }
            }

            &.is-active {
                opacity: 1;

                &:after {
                    @include breakpoint(md) {
                        background-color: $color-text-regular;
                    }
                }
            }
        }
    }
}

.header--menu-mobile-footer {
    position: absolute;
    bottom: 2rem;

    @include breakpoint(md) {
        display: none;
    }

    &-social {
        list-style: none;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 1rem 0;
        padding: 0;
    }

    &-social-item {
        margin: 0 .5rem;
    }

    &-copyright {
        opacity: .5;
        margin: 1rem 0 0;

        font-size: .85rem;

        @include breakpoint(md) {
            margin: 0;
        }
    }
}

// .header--menu-primary {}

#header.is-scroll {
    margin-top: 0;

    @include breakpoint(md) {
        margin-top: -3rem;
    }

    .header--main {
        transform: translateY(0);

        @include breakpoint(md) {
            transform: translateY(3rem);
        }
    }

    .header--logo {
        margin: 0;

        transform: scale(.75);

        h6 {
            display: none;
        }
    }

    .header--menu {
        @include breakpoint(md) {
            transform: scale(0);
        }
    }

    &.is-scroll-up {
        margin-top: 0;

        .header--main {
            transform: translateY(0);
        }

        .header--logo {
            transform: scale(.75);
        }

        .header--menu {
            @include breakpoint(md) {
                transform: scale(1);
            }
        }
    }
}