#header {
    position: fixed;

    width: 100%;

    box-shadow: 0 5px 20px rgba($color-text-regular, .04);

    transition: all .25s;

    z-index: 999;
}

.header--outer {
    background-color: white;

    border-bottom: $ui-border-width solid $ui-border-color;
}

.header--main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .25s;
}

.header--logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 4rem;

    transform: scale(.75);

    margin: 1rem 0;

    transition: all .25s, max-height .5s;

    @include breakpoint(md) {
        transform: scale(1);

        margin: 2rem 0;
    }

    * {
        margin: 0;
        line-height: 1;
        white-space: nowrap;
    }

    // h1 {
    //     // height: 2.5rem;
    // }

    h6 {
        margin-top: .5rem;

        font-size: .85rem;

        transition: all .25s;
    }
}

.header--sub {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;

    font-size: .75rem;
    color: white;

    background-color: $color-text-regular;

    z-index: 99;
}

.header--sub-close {
    position: absolute;
    top: 0;
    right: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;

    text-align: center;

    cursor: pointer;
}

.header--menu {
    display: none;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
        display: flex;
    }
}

.header--menu-primary {
    list-style: none;

    display: flex;

    margin: 0;
    padding: 0;

    .header--menu-item {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 3rem;

        text-transform: uppercase;
        font-size: .85rem;
        font-weight: bold;

        padding: 0 1.5rem;

        cursor: pointer;

        &+.header--menu-item {
            margin-left: 1rem;
        }

        &:after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            display: block;

            height: 0;
            width: 100%;

            background-color: transparent;

            transition: all .5s;
        }

        &:hover {
            &:after {
                height: 0.2rem;

                background-color: $ui-border-color;
            }
        }

        &.is-active {
            &:after {
                height: 0.2rem;

                background-color: $color-text-regular;
            }
        }
    }
}

#header.is-scroll {
    margin-top: 0;

    @include breakpoint(md) {
        margin-top: -3rem;
    }

    .header--main {
        transform: translateY(0);

        @include breakpoint(md) {
            transform: translateY(3rem);
        }
    }

    .header--logo {
        margin: 0;

        transform: scale(.75);

        h6 {
            display: none;
        }
    }

    .header--menu {
        transform: scale(0);
    }

    &.is-scroll-up {
        margin-top: 0;

        .header--main {
            transform: translateY(0);
        }

        .header--logo {
            transform: scale(.75);
        }

        .header--menu {
            transform: scale(1);
        }
    }
}