#hero {
    display: block;

    width: 100%;
    height: 100vh;
    // max-height: 60rem;

    padding: 0 !important;

    // background-color: $ui-border-color;
}

.hero--carousel {

    .flickity-page-dots {
        max-width: 18rem;

        display: flex;
        align-items: center;
        justify-content: center;

        left: 0;
        right: 0;
        bottom: -1.5rem;
        margin: 0 auto;
    }

    .flickity-button {
        z-index: 5;
    }

    .dot {
        display: inline-block;
        width: 5rem;
        height: .2rem;
        margin: 0;
        background: $color-text-regular;
        // background: white;
        border-radius: 0;
        opacity: 0.25;
        cursor: pointer;
    }
}

.hero--carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;

    background: rgba(black, 0.25);

    pointer-events: none;
}

.hero--carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    // background: red;

    img {
        width: 100%;
        object-fit: cover;
    }
}


#intro {
    padding: 7.5rem 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        text-align: center;

        max-width: 50rem;
    }

    p {
        font-size: .85rem;
        text-transform: lowercase;
        font-style: italic;
        color: $color-text-light;

        margin: 2rem 0;
    }

    .signature {
        width: 20rem;
        margin: 4rem 1rem 2rem;
    }
}

.intro--menu {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.intro--menu-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85rem;

    border-bottom: .2rem solid currentColor;

    padding-bottom: .3rem;

    &+.intro--menu-link {
        margin-left: 2rem;
    }
}

.blog--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;

    @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

}

.blog--featured {
    grid-area: 'featured';
}

.blog--featured-item {
    display: flex;
    flex-direction: column;

    &-featured {
        img {
            width: 100%;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        margin-top: 1.5rem;

        .entry-category {
            text-transform: uppercase;
            font-size: .85rem;
            font-weight: bold;
        }

        .entry-title {
            font-family: 'Bodoni', serif;
            font-size: 2rem;

            margin-top: 2rem;
        }

        .entry-content {
            display: none;
        }

        .entry-meta {
            text-transform: uppercase;
            font-size: .85rem;
            color: $color-text-light;

            margin-bottom: 2rem;
        }
    }
}


.blog--gallery {
    grid-area: 'blog';

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blog--gallery-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;

    @include breakpoint(md) {
        flex-direction: row;
    }

    &+.blog--gallery-item {
        margin-top: 2rem;

        @include breakpoint(md) {
            margin-top: 0;
        }
    }

    &-featured {
        img {
            height: auto;
            width: 100%;
        }

        @include breakpoint(md) {
            height: 12rem;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        margin-top: 1rem;

        @include breakpoint(md) {
            align-items: flex-start;
            justify-content: flex-end;

            height: 12rem;

            text-align: left;

            margin-top: 0;
        }

        .entry-category {
            text-transform: uppercase;
            font-size: .85rem;
            font-weight: bold;

            margin-bottom: auto;
        }

        .entry-title {
            font-family: 'Bodoni', serif;
            font-size: 1.5rem;
        }

        .entry-content {
            display: none;
        }

        .entry-meta {
            text-transform: uppercase;
            font-size: .85rem;
            color: $color-text-light;

            margin-top: 1rem;
        }

        @include breakpoint(md) {
            margin-left: 1.5rem;
        }
    }
}


#private-club {
    width: 100%;

    color: white;

    background: $color-text-regular;

    padding-bottom: 0 !important;

    @include breakpoint(md) {

        padding-bottom: 5rem !important;

        background: linear-gradient(to right,
                rgba($color-text-regular, 1) 0%,
                rgba($color-text-regular, 1) 90%,
                rgba($color-text-regular, 0) 90%,
                rgba($color-text-regular, 0) 100%);
    }

    .row {
        margin: 0;
    }
}

.private-club--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem;

    @include breakpoint(md) {
        padding: 0 5vw;
    }

    .content-top {
        h1 {
            color: $color-accent-secondary;
        }

        p {
            max-width: 40rem;
        }
    }

    .content-bottom {
        margin-top: 3rem;

        h5 {
            color: $color-accent-secondary;

            @include breakpoint(md) {
                color: white;
            }
        }

        p {
            max-width: 20rem;
            color: white;

            @include breakpoint(md) {
                color: $color-accent-secondary;
            }
        }
    }
}

.private-club--right {
    display: flex;
    align-items: center;

    padding: 1.5rem 0 0;

    @include breakpoint(md) {
        padding: 0;
    }

    img {
        display: block;
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
}

#enquiry {
    padding: 5rem 0;

    .container {
        text-align: center;

        h2 {
            text-transform: uppercase;
            margin-top: .5rem;
        }

        a {
            &:hover {
                color: $color-accent-secondary;
            }
        }
    }
}

#mailling-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include ui-border;
    border-right: 0;
    border-left: 0;

    margin-bottom: 3rem;
    padding: 2rem 0 !important;

    @include breakpoint(md) {
        flex-direction: row;

        >* {
            +* {
                margin-left: 5rem;
            }
        }
    }

    &:after {
        position: absolute;
        bottom: -0.35rem;
        left: 0;
        right: 0;

        content: '';
        display: block;

        height: 1px;
        width: 100%;

        background-color: $ui-border-color;
    }
}

.mailing-list-title {
    text-align: center;

    margin-bottom: 1rem;

    @include breakpoint(md) {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0rem;
    }
}

.mailing-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
        flex-direction: row;
    }

    input {
        width: 80vw;

        text-align: center;

        &+input {
            margin-top: .5rem;
        }

        &::placeholder {
            text-align: center;
        }

        @include breakpoint(md) {
            width: auto;

            &+input {
                margin-top: 0;
                margin-left: .5rem;
            }
        }
    }
}