.peter {

    h5 {
        font-size: .85rem;
        font-weight: normal;
        letter-spacing: .2em;
    }

    @mixin small-text {
        font-size: .85rem;
        font-weight: normal;
        font-family: $h5-font;
        text-transform: $h5-transform;
        line-height: $h5-lineheight;
        letter-spacing: .2em;
    }

    .small-text {
        @include small-text;
    }

    .header--right {
        transform: translateY(1.5rem);
        transition: all .25s;
    }

    #header {
        &.is-scroll {
            .header--right {
                transform: translateY(0);
                transition: all .25s;
            }
        }

        &.is-scroll-up {
            .header--right {
                transform: translateY(1.25rem);
                transition: all .25s;
            }
        }
    }

    .header--logo {
        h6 {
            font-family: $font-serif;
            text-transform: none;
            font-weight: normal;
            font-size: 1.25rem;
        }
    }

    .header--menu-wrapper {
        >ul {
            .header--menu-item {
                @include small-text;
            }
        }
    }

    .footer--menu-item {
        @include small-text;
        margin: .5rem 1rem;
    }

    .flickity-prev-next-button .arrow {
        fill: white;
    }

    .hero--carousel-content {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        color: white;

        h1 {
            font-size: 3rem;
            width: 80%;
            max-width: 75rem;
            margin: 0 auto;
            text-align: center;
            // text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.5);
            text-shadow: 0 0 5px rgba(white, 0.25);

            @include breakpoint(md) {
                font-size: 5rem;
            }

            // display: none;
        }

        background-color: rgba(black, 0);
    }

    .intro--menu-link {
        @include small-text;

        border-bottom-width: .1rem;
    }

    .services--item {
        @include breakpoint(md) {
            &:nth-child(2n) {
                transform: translateY(0);
            }
        }
    }

    .services--item-info {
        box-shadow: 0 0 20px rgba(black, .125);
    }

    .services--more {
        margin-top: 5rem;
        text-align: center;
    }

    #testimonial {
        display: none;
        padding-bottom: 8rem;
    }

    #membership {
        padding-top: 7.5rem !important;
        padding-bottom: 10rem !important;

        // // background-image: linear-gradient(rgba(black, 0)), url('./img/membership/background.jpg');
        // background-size: 200vh auto;
        // background-attachment: fixed;
        background-color: darken(white, 75);
        color: white;

        text-shadow: 0 1px 1px rgba(black, 0.5);

        .row {
            margin-top: 2.5rem;
        }

        @include breakpoint(md) {
            background-size: cover;
            background-attachment: scroll;
        }


        .membership--item-image {
            img {
                width: 90%;

                position: relative;
                z-index: 2;
                margin-bottom: 2rem;

                transition: all .25s;
            }

            &:after {
                content: '';
                display: block;
                width: 80%;
                height: 11rem;
                margin: 0 auto;
                background-image: none;
                background-color: black;
                position: absolute;
                top: 1rem;
                left: 2.5rem;
                filter: blur(10px);
                z-index: 1;
                opacity: .5;

                transition: all .25s;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                    transition: all .25s;
                }

                &:after {
                    top: 1.5rem;
                    left: 3rem;

                    transition: all .25s;
                }
            }
        }


        .membership--item-info {
            ul {

                &:before,
                &:after {
                    background-color: rgba(white, .5);
                }

                li {
                    color: unset;
                    @include small-text;
                    font-weight: bold;
                    font-size: .75rem;


                    &::before {
                        background-color: rgba(white, .5);
                    }

                    &.is-disabled {
                        color: darken(white, 50);
                    }
                }
            }
        }

        .membership--item-fee {
            display: none;
            font-weight: normal;

            span {
                color: white;
            }
        }

        .membership--item-apply {
            @include small-text;

            margin-top: 3rem;

            a {
                border: .2rem solid;
                padding: 1rem 2rem;
                font-weight: bold;
            }
        }

        .master-key {
            .membership--item-apply {
                // margin-top: 2rem;
                // font-size: 1.5rem;
                font-weight: bold;

            }
        }
    }

    .private-club-peter--carousel {
        width: 100%;
        position: relative;
    }

    .private-club-peter--carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        color: white;
        text-shadow: 1.5px 1.5px 0 rgba(black, 0.5);

        // background-color: rgba(#cccccc, 0.25);

        z-index: 4;

        pointer-events: none;

        >div {
            text-align: center;

            background-color: rgba(black, 0.75);
            padding: 5rem;
        }

        h1 {
            font-size: 5rem;
        }

        h5 {
            margin-top: 0;
        }
    }

    .private-club-peter--carousel-item {
        width: auto;
        height: calc(100vh - 4rem);
        max-height: 80rem;

        background-size: cover;
        background-position: center;

        img {
            height: 100%;
            width: auto;

            object-fit: unset;
        }
    }

    #enquiry {
        h5 {
            margin-bottom: 1rem;
        }
    }

    #mailing-list {
        border: none !important;

        &:after {
            display: none !important;
        }
    }

    .mailing-list-title {
        h2 {
            margin-top: 0rem;
            font-size: .85rem;
            font-weight: normal;
            letter-spacing: .2em;
            font-family: $font-sans;
        }
    }

    #footer {
        padding-top: 0 !important;
    }

    .footer--outer::after {
        display: none;
    }

    .footer--logo {
        display: block;
        width: 6rem;
        height: 6rem;
        filter: grayscale(1);
        opacity: .25;
        margin: 2rem auto;
    }

    .footer--social {
        font-size: 1.7rem;
    }

    .footer--menu {
        margin-bottom: 2.5rem;
    }


}