section {
    position: relative;

    &:not(#header) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &+section {
        margin-top: 1rem;
    }
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(xs) {
        max-width: 540px;
    }

    @include breakpoint(sm) {
        max-width: 720px;
    }

    @include breakpoint(md) {
        max-width: 960px;
    }

    @include breakpoint(lg) {
        max-width: 1140px;
    }
}

.container-fluid {
    padding: 0 1rem;

    @include breakpoint(md) {
        padding: 0 5vw;
    }
}

@mixin ui-shadow {
    box-shadow: 0 1px 4px rgba($color-text-regular, .125);
}

@mixin ui-border {
    border: $ui-border-width solid $ui-border-color;
}

input {
    @include ui-border();

    height: 2.5rem;
    padding: .5rem;

    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;

    &::placeholder {
        color: rgba($color-text-regular, .5);
        font-size: .85rem;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-size: .85rem;
    font-weight: bold;

    &.medium {
        height: 3rem;

        padding: 0 2rem;
    }

    &.ghost {
        background: transparent;

        @include ui-border;
        border-width: .1rem;

        &.gold {
            border-color: $color-accent-secondary;
        }
    }
}

.small-text {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

.link {
    &.line-right {
        margin-right: -2.5rem;

        &:after {
            content: '';
            display: inline-block;

            height: 1px;
            width: 5rem;

            margin-bottom: 0.25em;
            margin-left: 0.5em;

            background-image: linear-gradient(to right, currentColor, transparent);

            transition: all .5s;
        }

        &:hover {
            &:after {
                width: 10rem;
            }
        }
    }
}

.divider {
    position: relative;

    display: inline-block;

    margin-top: 1.5rem;
    margin-bottom: 3rem;

    height: 1px;
    width: 20rem;

    --color-divider: #b3b3b3;

    background-image: linear-gradient(to right, transparent, var(--color-divider), transparent);
    background-repeat: no-repeat;

    &.small {
        width: 10rem;
    }

    &.gold {
        --color-divider: #d2bc8f;
    }

    &.left {
        @include breakpoint(md) {
            width: 10rem;
            background-image: linear-gradient(to right, var(--color-divider), transparent);
        }
    }

    &.arrow-up {
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -3.25px;
            left: calc(50% - 7px);
            width: 6.5px;
            height: 6.5px;
            transform: rotate(45deg);
            background-color: white;
            border-top: 1px solid var(--color-divider);
            border-left: 1px solid var(--color-divider);
        }
    }
}


.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    h5 {
        margin: .5rem 0 0;
    }

    &.left {
        @include breakpoint(md) {
            align-items: flex-start;
            text-align: left;

            .divider {
                margin-left: 0;
            }
        }
    }

    &.gold {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color-accent-secondary;
        }
    }
}

.flickity-page-dots {
    max-width: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    left: 0;
    right: 0;
    // bottom: -1.5rem;
    margin: 0 auto;

    .dot {
        display: inline-block;
        width: 5rem;
        height: .2rem;
        margin: 0;
        background: $color-text-regular;
        // background: white;
        border-radius: 0;
        opacity: 0.25;
        cursor: pointer;
    }
}

.flickity-button {
    z-index: 5;
}

/* big buttons, no circle */
.flickity-prev-next-button {
    width: 2rem;
    height: 2rem;
    background: transparent;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    // fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

.flickity-prev-next-button:hover {
    background: transparent;
}